h1,
h6 {
  margin: 0;
  font-weight: 400;
}
/* General style */
.article_header {
  text-align: center;
  margin: 0 auto;
  width: 72vw;
}
.article_header h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
  margin-top: 90px;
}
.article_header h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #333;
  margin: 0;
  text-transform: uppercase;
}
.article_header h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto;
}
.article_header p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  margin-bottom: 100px;
}
/* Intro block */
.INTRO {
  background-image: url(../img/bannerBackground.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  color: #fff;
}
.INTRO .INTRO_block {
  width: 88vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.INTRO .INTRO_block .INTRO_header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
}
.INTRO .INTRO_block .INTRO_header .logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.INTRO .INTRO_block .INTRO_header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 2vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.INTRO .INTRO_block .INTRO_header a:last-child {
  margin: 0 0 0 28px;
}
.INTRO .INTRO_block .INTRO_header a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 10px;
  transition: 0.15s linear;
}
.INTRO .INTRO_block .INTRO_header a.activeNav {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 10px;
}
.INTRO .INTRO_block .INTRO_main {
  text-align: center;
}
.INTRO .INTRO_block .INTRO_main .welcome {
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
}
.INTRO .INTRO_block .INTRO_main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  font-weight: 700;
  line-height: 0.95;
  text-transform: uppercase;
  margin: 30px auto 30px auto;
}
.INTRO .INTRO_block .INTRO_main h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 20px auto;
}
.INTRO .INTRO_block .INTRO_main .btn_more {
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #fff;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.1s linear, color 0.1s linear;
}
.INTRO .INTRO_block .INTRO_main .btn_more:hover {
  transition: background 0.1s linear, color 0.1s linear;
  background-color: #fff;
  color: #333;
}
.INTRO .INTRO_block .INTRO_footer ol {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.INTRO .INTRO_block .INTRO_footer ol li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  border-top: 3px solid #fff;
  width: 18.5vw;
  padding: 15px 0;
  opacity: 0.7;
}
.INTRO .INTRO_block .INTRO_footer ol li span {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.INTRO .INTRO_block .INTRO_footer ol .activeSlider {
  opacity: 1;
}
.INTRO .INTRO_block .INTRO_footer ol .activeSlider:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: -3px;
}
/* About block */
.ABOUT .ABOUT_block {
  width: 88vw;
  margin: 0 auto;
}
.ABOUT .ABOUT_block .ABOUT_galery {
  display: flex;
  justify-content: space-between;
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item {
  width: 380px;
  position: relative;
  z-index: 1;
  background-color: #95e1d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item span {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  z-index: 2;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  opacity: 0;
  text-align: center;
  transition: 0.4s;
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item img {
  transition: 0.4s;
  display: block;
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  background: linear-gradient(0deg, #fce38a, #f38181);
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item:hover img {
  transform: translate(-10px, -10px);
  transition: 0.4s;
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item:hover span {
  opacity: 1;
  transition: 0.4s;
  transform: translate(-10px, -10px);
}
.ABOUT .ABOUT_block .ABOUT_galery .ABOUT_galery_item:hover:after {
  opacity: 0.9;
  transition: 0.4s;
  transform: translate(-10px, -10px);
}
/* Numbers Block */
.NUMBERS {
  background-color: #95e1d3;
  margin-top: 100px;
}
.NUMBERS .NUMBERS_block {
  width: 88vw;
  margin: 0 auto;
}
.NUMBERS .NUMBERS_block .NUMBERS_content {
  display: grid;
  width: 88vw;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}
.NUMBERS .NUMBERS_block .NUMBERS_content .NUMBERS_item {
  color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.NUMBERS .NUMBERS_block .NUMBERS_content .NUMBERS_item:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.NUMBERS .NUMBERS_block .NUMBERS_content .NUMBERS_item .number {
  display: block;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.NUMBERS .NUMBERS_block .NUMBERS_content .NUMBERS_item .number-defenition {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
/* SERVICE block */
.SERVICE_table {
  margin: 0 auto;
  width: 88vw;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 1fr);
}
.SERVICE_table .SERVICE_table_item {
  display: flex;
  margin-top: 50px;
  padding: 0 60px 50px 0;
}
.SERVICE_table .SERVICE_table_item .SERVICE_img {
  margin-right: 30px;
}
.SERVICE_table .SERVICE_table_item .SERVICE_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  width: 100%;
  line-height: 25px;
}
.SERVICE_table .SERVICE_table_item .SERVICE_text span {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.SERVICE_table .SERVICE_table_item:nth-child(1) {
  border-bottom: 1px solid #e5e5e5;
}
.SERVICE_table .SERVICE_table_item:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}
.SERVICE_table .SERVICE_table_item:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}
/* CROSSPLATFORM block */
.CROSSPLATFORM {
  background-image: url(../img/featureBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  height: 100%;
}
.CROSSPLATFORM .CROSSPLATFORM_block {
  position: relative;
}
.CROSSPLATFORM .CROSSPLATFORM_block .CROSSPLATFORM_devices {
  position: relative;
  overflow: hidden;
}
.CROSSPLATFORM .CROSSPLATFORM_block .CROSSPLATFORM_devices .CROSSPLATFORM_tablet {
  position: relative;
  left: 31vw;
  display: block;
}
.CROSSPLATFORM .CROSSPLATFORM_phone {
  position: absolute;
  left: 53.7%;
  top: 49%;
  z-index: 200;
}
/* Activity block */
.ACTIVITY .ACTIVITY_block {
  width: 88vw;
  margin: 0 auto;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content {
  display: flex;
  margin-top: 95px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .activity_content_image {
  background-image: url(../img/activity_photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 397px;
  width: 50vw;
  margin-right: 30px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item {
  width: 50vw;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_item:last-child {
  margin-bottom: 0;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_header {
  position: relative;
  cursor: pointer;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_arrow {
  position: absolute;
  right: 20px;
  top: 23px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active .accordion_arrow {
  transform: rotate(180deg);
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_icon {
  margin: 12px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_title {
  padding: 19px 0 19px 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .accordion_main {
  display: none;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main {
  padding: 20px 25px 25px 20px;
  border-top: 1px solid #e5e5e5;
  display: block;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main p {
  margin: 0;
  height: 140px;
  padding-right: 20px;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  font-style: italic;
  line-height: 24px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main p::-webkit-scrollbar {
  width: 4px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main p::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 2.5px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main p::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 2.5px;
}
.ACTIVITY .ACTIVITY_block .ACTIVITY_content .ACTIVITY_content_item .accordion .active_main p::-webkit-scrollbar-thumb:hover {
  background-color: #75c0b2;
}
/* Quote block */
.QUOTE {
  margin-top: 120px;
  background-color: #f8f8f8;
}
.QUOTE .QUOTE_content {
  margin: 0 auto;
  width: 72.5vw;
  padding: 70px 0;
  display: flex;
}
.QUOTE .QUOTE_content .QUOTE_icon {
  margin-right: 60px;
}
.QUOTE .QUOTE_content .QUOTE_icon img {
  padding: 44px;
  border: 3px solid #95e1d3;
}
.QUOTE .QUOTE_content .QUOTE_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.QUOTE .QUOTE_content .QUOTE_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  line-height: 36px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.QUOTE .QUOTE_content .QUOTE_text p:before {
  content: "\201c";
}
.QUOTE .QUOTE_content .QUOTE_text p:after {
  content: "\201d";
}
.QUOTE .QUOTE_content .QUOTE_text .QUOTE_author {
  margin-top: 20px;
  position: relative;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #000;
}
.QUOTE .QUOTE_content .QUOTE_text .QUOTE_author:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: relative;
  top: -5px;
  margin-right: 10px;
}
/* Team block */
.TEAM .TEAM_block {
  width: 88vw;
  margin: 0 auto;
  text-align: center;
}
.TEAM .TEAM_block .TEAM_galery {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image {
  position: relative;
  background-color: #95e1d3;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image:hover .socnet {
  opacity: 1;
  transform: translate(-10px, -10px);
  transition: opacity 0.2s, transform 0.4s;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  background: linear-gradient(0deg, #fce38a, #f38181);
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image:hover:after {
  opacity: 0.9;
  transition: 0.4s;
  transform: translate(-10px, -10px);
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image img {
  transition: 0.4s;
  display: block;
  width: 100%;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_image:hover img {
  transform: translate(-10px, -10px);
  transition: 0.4s;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_person {
  padding-top: 30px;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_person .TEAM_name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.TEAM .TEAM_block .TEAM_galery .TEAM_person .TEAM_profession {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}
.TEAM .TEAM_block .TEAM_galery .socnet {
  opacity: 0;
  z-index: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -115px;
  transition: opacity 0.2s, transform 0.4s;
  display: flex;
  background-color: #fff;
}
.TEAM .TEAM_block .TEAM_galery .socnet a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  color: #f38181;
  font-size: 24px;
  text-decoration: none;
  border-right: 1px solid #f9bd87;
  transition: 0.2s;
}
.TEAM .TEAM_block .TEAM_galery .socnet a:hover {
  background-color: #f38181;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  border-right: 1px solid #f9bd87;
  transition: 0.1s;
}
.TEAM .TEAM_block .TEAM_galery .socnet a:nth-child(4) {
  border-right-width: 0px;
}
/* Logotypes block */
.LOGOTYPES {
  background-color: #f8f8f8;
}
.LOGOTYPES .LOGOTYPES_content {
  width: 88vw;
  margin: 0 auto;
  padding: 50px 0;
  margin-top: 118px;
  display: grid;
  grid-template-columns: repeat(6, 130px);
  justify-content: space-between;
}
.LOGOTYPES .LOGOTYPES_content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
/* WORKS block */
.WORKS .WORKS_content {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 106px;
}
.WORKS .WORKS_content .WORKS_item {
  position: relative;
}
.WORKS .WORKS_content .WORKS_item:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  background: linear-gradient(0deg, #fce38a, #f38181);
}
.WORKS .WORKS_content .WORKS_item:hover:after {
  opacity: 0.9;
}
.WORKS .WORKS_content .WORKS_item:hover .WORK_text {
  opacity: 1;
}
.WORKS .WORKS_content .WORK_image {
  max-width: 100%;
  height: auto;
  display: block;
}
.WORKS .WORKS_content .WORK_text {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  z-index: 2;
  opacity: 0;
}
.WORKS .WORKS_content .WORK_text .text_title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  margin: 0;
}
.WORKS .WORKS_content .WORK_text .text_description {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  color: #fff;
  font-style: italic;
  margin: 0;
}
/* WORKS_QUOTE block */
.WORKS_QUOTE .WORKS_QUOTE_content {
  max-width: 1000px;
  margin: 100px auto 130px auto;
  padding: 0 50px;
  display: flex;
}
.WORKS_QUOTE .WORKS_QUOTE_text {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 780px;
}
.WORKS_QUOTE .WORKS_QUOTE_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  line-height: 36px;
  padding: 0;
  margin: 0;
}
.WORKS_QUOTE .WORKS_QUOTE_text p:before {
  content: "\201c";
}
.WORKS_QUOTE .WORKS_QUOTE_text p:after {
  content: "\201d";
}
.WORKS_QUOTE .WORKS_QUOTE_author {
  padding-top: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}
.WORKS_QUOTE .WORKS_QUOTE_author:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: relative;
  top: -5px;
  margin-right: 10px;
}
/* REVIEWS */
.REVIEWS {
  background-image: url(../img/reviews_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}
.REVIEWS .REVIEWS_content {
  padding-top: 63px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 83vw;
  margin: 0 auto;
  padding-bottom: 52px;
}
.REVIEWS .REVIEWS_content .REVIEWS_item {
  display: flex;
  margin-bottom: 50px;
}
.REVIEWS .REVIEWS_content .REVIEWS_item .review_content {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 40px;
}
.REVIEWS .REVIEWS_content .REVIEWS_item .review_author {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.REVIEWS .REVIEWS_content .REVIEWS_item .review_author_profession {
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  padding-bottom: 22px;
  font-weight: 300;
  font-style: italic;
  color: #000;
}
.REVIEWS .REVIEWS_content .REVIEWS_item .review_author_profession:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
}
.REVIEWS .REVIEWS_content .REVIEWS_item .review_text {
  line-height: 24px;
  width: 100%;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
}
/* BLOG */
.BLOG .BLOG_content {
  width: 87vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.BLOG .BLOG_content .BLOG_post .blog_image {
  position: relative;
  width: 100%;
}
.BLOG .BLOG_content .BLOG_post .blog_image img {
  display: block;
  width: 100%;
}
.BLOG .BLOG_content .BLOG_post .blog_image .blog_date {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
  transform: translate(-10px, -114%);
  padding: 10px 15px;
  text-align: center;
  background-color: #95e1d3;
  color: #fff;
}
.BLOG .BLOG_content .BLOG_post .blog_image .blog_date .date_num {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.BLOG .BLOG_content .BLOG_post .blog_image .blog_date .date_month {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}
.BLOG .BLOG_content .BLOG_post .blog_text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: block;
  padding: 0 25px 10px 0;
  max-width: 350px;
  color: #999999;
}
.BLOG .BLOG_content .BLOG_post .blog_text .blog_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  padding: 20px 0 0 0;
  color: #000;
}
.BLOG .BLOG_content .BLOG_post .blog_stat {
  color: #95e1d3;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.BLOG .BLOG_content .BLOG_post .blog_stat .stat_looks,
.BLOG .BLOG_content .BLOG_post .blog_stat .stat_comments {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  padding-left: 5px;
  padding-right: 20px;
}
/* MAP */
.MAP {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-top: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}
.MAP:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.85;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.MAP .MAP_block {
  z-index: 1000;
}
.MAP .MAP_block .MAP_header {
  color: #f38181;
  text-align: center;
  font-size: 24px;
}
.MAP .MAP_block .MAP_header .map_button {
  color: #f38181;
  display: block;
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 40px;
}
.MAP .MAP_block .MAP_header .map_button:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  margin-top: 15px;
}
.MAP .MAP_block .MAP_header .map_button:hover {
  text-decoration: underline;
}
/* FOOTER */
footer {
  background-color: #f8f8f8;
  /* COPYRIGHTS */
}
footer .FOOTER {
  padding-top: 74px;
}
footer .FOOTER .FOOTER_block {
  display: grid;
  grid-template-columns: 44% 400px 28%;
  width: 88vw;
  margin: 0 auto;
}
footer .FOOTER .FOOTER_block .footer_item {
  margin-right: 30px;
}
footer .FOOTER .FOOTER_block .footer_item:nth-child(3) {
  margin-right: 0;
}
footer .FOOTER .FOOTER_block .contacts .company_logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
  display: block;
}
footer .FOOTER .FOOTER_block .contacts .company_description {
  line-height: 24px;
  margin: 30px 0 40px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  color: #999;
}
footer .FOOTER .FOOTER_block .contacts .followers_counter {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
}
footer .FOOTER .FOOTER_block .contacts .followers_counter span:first-child {
  font-size: 18px;
  font-weight: 700;
}
footer .FOOTER .FOOTER_block .contacts .links {
  padding-top: 18px;
  border-top: 1px solid #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}
footer .FOOTER .FOOTER_block .contacts .links a {
  text-decoration: none;
  color: #95e1d3;
  padding-left: 10px;
}
footer .FOOTER .FOOTER_block .contacts .links span {
  padding-right: 10px;
}
footer .FOOTER .FOOTER_block .contacts .subscribe {
  margin-top: 38px;
  display: flex;
}
footer .FOOTER .FOOTER_block .contacts .subscribe .subscribe_email {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  color: #000;
  padding: 10px;
  width: 230px;
  outline: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: none;
}
footer .FOOTER .FOOTER_block .contacts .subscribe .subscribe_email::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
  color: #cccccc;
}
footer .FOOTER .FOOTER_block .contacts .subscribe .subscribe_confirm {
  background-color: #95e1d3;
  padding: 10px 30px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s linear;
}
footer .FOOTER .FOOTER_block .contacts .subscribe .subscribe_confirm:hover {
  text-decoration: underline;
  transition: 0.4s linear;
  cursor: pointer;
}
footer .FOOTER .FOOTER_block .blogs h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items .blogs_item {
  display: flex;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items .blogs_item .blogs_image img {
  display: block;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items .blogs_item .blogs_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items .blogs_item .blogs_text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  margin: 0;
  line-height: 18px;
  padding-bottom: 5px;
}
footer .FOOTER .FOOTER_block .blogs .blogs_items .blogs_item .blogs_text span {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}
footer .FOOTER .FOOTER_block .instagram {
  display: flex;
  flex-direction: column;
}
footer .FOOTER .FOOTER_block .instagram h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block .inst_photos {
  display: flex;
  margin-bottom: 20px;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block .inst_photos .inst_photo {
  border: 1px solid #f8f8f8;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block .inst_photos .inst_photo img {
  display: block;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block .inst_more {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  text-decoration: none;
}
footer .FOOTER .FOOTER_block .instagram .instagram_block .inst_more:hover {
  text-decoration: underline;
}
footer .COPYRIGHTS {
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  padding: 20px;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
footer .COPYRIGHTS .maket_author {
  color: #f38181;
  text-decoration: none;
}
footer .COPYRIGHTS .maket_author:hover {
  text-decoration: underline;
}
@media (max-width: 1333px) {
  .ABOUT_galery .ABOUT_galery_item img {
    width: 100%;
  }
  .BLOG_content {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .BLOG_content .BLOG_post {
    margin: 0 auto;
  }
  .BLOG_content .BLOG_post .blog_image {
    width: 370px !important;
  }
  .BLOG_content .BLOG_post .blog_stat {
    width: 370px;
    margin-bottom: 30px;
  }
  .FOOTER_block {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 1fr !important;
  }
  .FOOTER_block .contacts {
    grid-row: 1 / 2 !important;
    grid-column: 1 / 3 !important;
    margin-bottom: 50px;
  }
}
@media (max-width: 1080px) {
  .NUMBERS_content {
    grid-template-columns: 16.5% 16.5% 34% 16.5% 16.5% !important;
  }
  .NUMBERS_content .NUMBERS_item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 135px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .NUMBERS_content .NUMBERS_item2 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    height: 135px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .NUMBERS_content .NUMBERS_item3 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    height: 100% !important;
  }
  .NUMBERS_content .NUMBERS_item4 {
    grid-row: 1;
    grid-column: 4 / 6;
    height: 135px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .NUMBERS_content .NUMBERS_item5 {
    grid-row: 2;
    grid-column: 4 / 6;
    height: 135px !important;
  }
  .SERVICE_table {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
  }
  .SERVICE_table .SERVICE_table_item:nth-child(4) {
    border-bottom: 1px solid #e5e5e5;
  }
  .LOGOTYPES_content {
    grid-template-columns: repeat(3, 130px) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .REVIEWS_content {
    grid-template-rows: repeat(4, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 890px) {
  .BLOG_content {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
  }
  .BLOG_content .BLOG_post {
    margin: 0 auto;
  }
  .BLOG_content .BLOG_post .blog_image {
    width: 370px !important;
  }
  .BLOG_content .BLOG_post .blog_stat {
    width: 370px;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .TEAM_galery .socnet {
    flex-direction: column;
    left: 5% !important;
    top: 5% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .TEAM_galery .socnet a {
    border-right-width: 0px !important;
    border-top: 1px solid #f9bd87;
  }
  .TEAM_galery .socnet a:nth-child(1) {
    border-top-width: 0px;
  }
}
