.copyright {
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  padding: 20px;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.maket_author {
  color: #f38181;
  text-decoration: none;
}
.maket_author:hover {
  text-decoration: underline;
}
