
/* Banner */

	/* block model */
    @color: #fff;

    .INTRO {
        width: 100%;
        height: 100vh;
    
        background-color: #eb9585;
        background-image: url(../img/bannerBackground.png);
        background-repeat: no-repeat;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .INTRO_block {
        width: 1200px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .INTRO_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .INTRO_main {
        text-align: center;
        margin: 0 auto;
    }
    
    .INTRO_footer ol {
        display: flex;
        justify-content: space-between;
    }
    
    .INTRO_footer li {
        display: inline-block;
    }
    
        /* typography */
    
    .INTRO {
        color: #fff;
    }
    
    .INTRO_header {
        padding-top: 30px;
    }
    
    h6.logo {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    
    nav a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 25px;
    }
    
    nav a:hover {
        color: #fce38a;
        border-bottom: 3px solid #fce38a;
        padding-bottom: 10px;
        transition: 0.15s linear;
    }
    
    .activeNav {
        color: #fce38a;
        border-bottom: 3px solid #fce38a;
        padding-bottom: 10px;
    }
    
    .welcome {
        font-family: 'Kaushan Script', cursive;
        font-size: 3em;
    }
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bold;
        text-transform: uppercase;
        width: 840px;
        margin: 30px 0 40px 0;
        line-height: 90px;
    }
    
    h1:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #fff;
        margin: 20px auto;
    }
    
    .btn_more {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    
        border: 3px solid #fff;
        padding: 10px 30px;
        transition: background 0.1s linear;
    }
    
    .btn_more:hover {
        transition: background 0.1s linear, color 0.1s linear;
        background-color: #fff;
        color: #333;
    }
    
    .INTRO_footer ol li {
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
    }
    
    .INTRO_footer ol .slider_item {
        border-top: 3px solid #fff; 
    
    
        width: 250px;
        padding: 15px 0;
        opacity: 0.7;
    }
    
    .INTRO_footer ol .activeSlider {
        opacity: 1;
    }
    
    .INTRO_footer ol .activeSlider:before {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f38181;
        position: absolute;
        top: -3px;
    }
    
    .INTRO_footer ol li span {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
    
    /* aboutUs */
    
        /* block model */
    
    .aboutUs {
        text-align: center;
    }
    
    .aboutUs p {
        width: 960px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    .aboutUs-galery {
        display: flex;
        justify-content: space-between;	
    }
    
    .aboutUs-galery-img {
        width: 380px;
        height: 250px;
        position: relative;
    }
    
    .aboutUs-galery-img:after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 0.4s;
    
        background: linear-gradient(0deg, #fce38a, #f38181);
    }
    
    .aboutUs-galery-img:hover:after {
        opacity: .9;
        transition: 0.4s;
        transform: translate(-10px, -10px);
    }
    
    .aboutUs-galery span {
        padding-top: 125px;
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: 2;
        display: block;
    }
    
        /* typography */
    
    .aboutUs-galery span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        opacity: 0;
        
        transition: 0.4s;
    }
    
    .aboutUs-galery-img:hover span {
        opacity: 1;
        transition: 0.4s;
        transform: translate(-10px, -10px);
    }
    
    .aboutUs-galery-img img {
        transition: 0.4s;
    }
    .aboutUs-galery-img:hover img {
        transform: translate(-10px, -10px);
        transition: 0.4s;
    }
    
    .aboutUs-galery-img {
        z-index: 1;
        background-color: #95e1d3;
    }
    
    /* Facts */
    
        /* Block */
    
    .facts {
        width: 1200px;
        display: flex;
        justify-content: center;
        
    }
    
    .fact {
        width: 240px;
        box-sizing: border-box;
        border-left: 1px solid rgba(255, 255, 255, .3);
        height: 270px;
    }
    .fact:last-child {
        border-right: 1px solid rgba(255, 255, 255, .3);
    }
    
    .fact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
        /* Typography */
    
    .facts { 
        color: #fff; 
    }
    
    .fact .number {
        display: block;
        font-size: 72px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .fact .number-defenition {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    
    /* Service */
        
        /* Block model */
    
    .service table tr:first-child td {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .service-items-container {
        width: 1200px;
        text-align: left;
    }
    
    
    
    .service-item {
        display: flex;
        width: 100%;
        margin: 50px 60px 50px 0;
    }
    
    .service-items-container tr:first-child td .service-item {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .service-items-container tr:nth-child(2) td .service-item {
        margin-bottom: 50px;
    }
    
    .service-item p {
        width: 280px;
        line-height: 25px;
    }
    
    .service-item div:first-child {
        margin-right: 30px;
    
    }
    
        /* Typography */
    
    .service {
        text-align: center;
    }
    
    .service-items-container span {
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    
    /* Feature */
    
        /* Block model */
    
    .feature {
        background-image: url(../img/featureBackground.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        padding-top: 15px;
        height: 850px;
    }
    
    .feature-phone {
        width: 200px;
        position: relative;
        left: 57.2%;
        top: 24.5%;
    }
    
        /* Typography */
    
    .feature {
        text-align: center;
    }
    
    /* ServiceExtended */
    
        /* Block model */
    
    .serviceExt {
        width: 1200px;
        margin: 0 auto;
    }
    
    .wedo {
        display: flex;
        margin-top: 95px;
    }
    
    .wedo_item {
        width: 50%;
    }
    
    .accordion_item {
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
    }
    
    .accordion_header {
        position: relative;
        cursor: pointer;
    }
    
    .accordion_arrow {
        position: absolute;
        left: 93%;
        top: 27px;
    }
    
    .accordion_arrow.active {
        transform: rotate(180deg);
    }
    
    .accordion_icon {
        margin: 15px;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    
    .accordion_title {
        padding: 24px 0 24px 60px;
    }
    
    .accordion_content {
        padding: 20px 25px 25px 20px;
        border-top: 1px solid #e5e5e5;
    }
    
    .accordion_text	{
        height: 140px;
        padding-right: 20px;
        overflow-y: scroll;
    }
    
    .accordion_text::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 2.5px;
    }
    
    ::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 2.5px;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#75c0b2;
    }
    
        /* Typography */
    
    .serviceExt_header {
        text-align: center;
    }
    
    .accordion_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .accordion_content {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        line-height: 24px;
    }
    
    /* cite */
    
        /* Block model */
    
    .cites {
        margin-top: 120px;
        background-color: #f8f8f8;
        height: 290px;
    }
    
    .cite {
        margin: 0 auto;
        width: 980px;
        padding: 70px 0;
        display: flex;
    }
    
    .cite_icon {
        margin-right: 60px;
    }
    
    .cite_icon img {
        padding: 44px;
        border: 3px solid #95e1d3;
    }
    
    .cite_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .cite_author {
        margin-top: 20px;
        position: relative;
    }
    
    .cite_author:before {
        content: "";
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        position: relative;
        top: -5px;
        margin-right: 10px;
    
    }
    
        /* Typography */
    
    .cite p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        line-height: 36px;
        padding: 0;
        margin: 0;
    }
    
    .cite_author {
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
    }
    
    /* ourTeam */
    
        /* Block model */
    
    .team {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
    }
    
    .team_galery {
        margin-top: 96px;
        display: flex;
        justify-content: space-between;
    }
    
    .item_title {
        padding-top: 30px;
    }
    
    .socnet {
        opacity: 0;
        z-index: 500;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -20px;
        margin-left: -115px;
        transition: opacity .2s, transform .4s;
        display: flex;
        background-color: #fff;
    }
    
    .socnet_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        background-color: #fce38a;
    }
    
    .socnet a {
        color: #f38181;
        font-size: 24px;
        text-decoration: none;
        border-right: 1px solid #f9bd87;
        transition: 0.2s;
    }
    
    .socnet a:nth-child(4) {
        border-right-width: 0px;
    }
    
    .socnet a:hover {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        border-right: 1px solid #f9bd87;
        transition: .1s;
    }
    
    .socnet a div {
        transition: .2s;
    }
    
    .socnet a:hover div {
        background-color: #f38181;
        transition: .1s;
    }
    
    .item_image:hover .socnet {
        opacity: 1;
        transform: translate(-10px, -10px);
        transition: opacity .2s, transform .4s;
    }
    
    .item_image {
        position: relative;
        height: 470px;
        background-color: #95e1d3;
    }
    
    .item_image:after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 0.4s;
    
        background: linear-gradient(0deg, #fce38a, #f38181);
    }
    
    .item_image:hover:after {
        opacity: .9;
        transition: 0.4s;
        transform: translate(-10px, -10px);
    }
    
    .item_image img {
        transition: 0.4s;
    }
    .item_image:hover img {
        transform: translate(-10px, -10px);
        transition: 0.4s;
    }
    
    
        /* typography */
    
    .team_name {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    
    .team_profession {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
    }
    
    /* logos */
    
    .logos {
        background-color: #f8f8f8;
    }
    
    .logos_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        margin-top: 118px;
    }
    
    .logo {
        opacity: 0.9;
    }
    
    /* worksBlock */
    
        /* Block model */
    
    .works {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 106px;
    }
    
    .works_item {
        position: relative;
    }
    
    .work_item_image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    .works_item_text {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        text-align: center;
    
        transform: translate3d(0, -50%, 0);
        z-index: 2;
        opacity: 0;
    }
    
    .works_header {
        width: 1200px;
        text-align: center;
        margin: 0 auto;
    }
    
    
    .works_item {
        position: relative;
    }
    
    .works_item:after {
        content: "";
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 0.4s;
    
        background: linear-gradient(0deg, #fce38a, #f38181);
    }
    
    .works_item:hover:after {
        opacity: .9;
    }
    
    .works_item:hover .works_item_text {
        opacity: 1;
    }
    
        /* Typography */
    
    .text_title {
        display: block;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .text_description {
        display: block;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
    }
    
    /* recommendation */
    
        /* Block model */
    
    .recommendation {
        width: 1000px;
        margin: 100px auto 130px auto;
        display: flex;
    }
    
    .recommendation_text {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 780px;
    }
    
    .recommendation_author:before {
        content: "";
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        position: relative;
        top: -5px;
        margin-right: 10px;
    
    }
    
        /* Typography */
    
    .recommendation p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        line-height: 36px;
        padding: 0;
        margin: 0;
    }
    
    .recommendation_author {
        padding-top: 20px;
        font-family: 'Kaushan Script', cursive;
        font-size: 24px;
    }
    
    /* reviews_block */
    
    .reviews_block {
        background-image: url(../img/reviews_background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .reviews_header {
        text-align: center;
        width: 1200px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 63px;
    }
    
    .reviews {
        display: flex;
        width: 1130px;
        margin: 0 auto;
        padding-bottom: 52px;
    }
    
    .reviews_item {
        display: flex;
        margin-bottom: 50px;
    }
    
    
    .review_content {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 40px;
    }
    
    .review_author {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }
    
    .review_author_profession {
        display: block;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        padding-bottom: 22px;
        font-weight: 300;
        font-style: italic;
    }
    
    .review_author_profession:after {
        content: "";
        width: 60px;
        height: 3px;
        background-color: #f38181;
        position: absolute;
        top: 32px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .review_text {
        line-height: 24px;
        width: 384px;
    }
    
    /* Blog */
    
    .blog {
        width: 1200px;
        margin: 0 auto;
    }
    
    .blog_header {
        text-align: center;
    }
    
    .blog_container {
        display: flex;
    }
    
    .blog_item {
        margin-right: 30px;
    }
    
    .blog_image {
        position: relative;
    }
    
    .blog_image img {
        display: block;
    }
    
    .blog_date {
        position: absolute;
        left: 0;
        top: 100%;
        
        transform: translate(-10px, -114%);
        padding: 10px 15px;
        text-align: center;
        background-color: #95e1d3;
        color: #fff;
    }
    
    .date_num {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }
    
    .date_month {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
    }
    
    .blog_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        padding: 20px 0 0 0;
    }
    
    .blog_text {
        line-height: 24px;
        display: block;
        padding: 0 0 10px 0;
        width: 350px;
    }
    
    .blog_stat {
        color: #95e1d3;
        padding-top: 20px;
        border-top: 1px solid #e5e5e5;
    }
    
    .stat_looks, .stat_comments {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        padding-left: 5px;
        padding-right: 20px;
    }
    
    /* Map */
    
    .map {
        background-image: url(../img/map.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        margin-top: 117px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 15px;
    }
    
    .map:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .85;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .map_header {
        color: #f38181;
        text-align: center;
        font-size: 24px;
        z-index: 2;
    }
    
    .map_button {
        color: #f38181;
        display: block;
        text-decoration: none;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
        line-height: 40px;
    }
    
    .map_button:after {
        content: "";
        width: 60px;
        height: 3px;
        background-color: #f38181;
        position: absolute;
        top: 100%;
        left: 50%;
        right: 0;
        bottom: 0;
        transform: translate(-50%, 0);
        margin-top: 15px;
    }
    
    .map_button:hover {
        text-decoration: underline;
    }
    
    /* footer */
    
    .page_footer {
        background-color: #f8f8f8;
        padding-top: 74px;
    }
    
    .footer_cont {
        width: 1200px;
        margin: 0 auto;
    }
    
    .footer {
        display: flex;
    }
    
    .footer_item {
        justify-content: space-between;
    }
    
    .footer_item:nth-child(1), .footer_item:nth-child(2) {
        margin-right: 30px;
    }
    
    .footer_item:nth-child(2) {
        width: 500px;
    }
    
    .company_name {
        font-family: 'Montserrat', sans-serif;
        font-size: 46px;
        color: #ccc;
        font-weight: 700;
        display: block;
    }
    
    .company_description {
        line-height: 24px;
        margin: 30px 0 40px 0;
        width: 500px;
    }
    
    .followers_counter {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-bottom: 18px;
    }
    
    .followers_counter span:first-child {
        font-size: 18px;
        font-weight: 700;
    }
    
    .links {
        padding-top: 18px;
        border-top: 1px solid #e5e5e5;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
    }
    
    .links a {
        text-decoration: none;
        color: #95e1d3;
        padding-left: 10px;
    }
    
    .links span {
        padding-right: 10px;
    }
    
    .subscribe {
        margin-top: 38px;
        display: flex;
    }
    
    .subscribe_email {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #000;
        padding: 10px;
        width: 230px;
        outline: none;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-right: none;
    }
    
    .subscribe_email::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        color: #cccccc;
    }
    
    .subscribe_confirm {
        background-color: #95e1d3;
        padding: 10px 30px;
        border: none;
        outline: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        transition: .4s linear;
    }
    
    .subscribe_confirm:hover {
        text-decoration: underline;
        transition: .4s linear;
        cursor: pointer;
    }
    
    /* blogs */
    
    .blogs_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }
    
    .blogs_item {
        display: flex;
    }
    
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        margin: 0;
        height: 20%;
    }
    
    .blogs_image img {
        display: block;
    }
    
    .blogs_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }
    
    .blogs_text p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #333;
        text-transform: uppercase;
        margin: 0;
        line-height: 18px;	
        padding-bottom: 5px;
    }
    
    .blogs_text span {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        color: #999999;
    }
    
    /* instagram */
    
    .instagram {
        display: flex;
        flex-direction: column;
    }
    
    .instagram_block {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .inst_photos {
        display: flex;
        margin-bottom: 20px;
    }
    
    .inst_photo {
        border: 1px solid #f8f8f8;
    }
    
    .inst_photo img {
        display: block;
    }
    
    .inst_more {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        color: #999999;
        text-decoration: none;
    }
    
    .inst_more:hover {
        text-decoration: underline;
    }
    
    /* copyright */
    
    .copyright {
        text-align: center;
        margin: 0 auto;
        border-top: 1px solid #e5e5e5;
        padding: 20px;	
        margin-top: 70px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    
    .maket_author {
        color: #f38181;
        text-decoration: none;
    }
    
    .maket_author:hover {
        text-decoration: underline;
    }
    